// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
Page {
    background: #000;
}

ActionBar {
    background-color: #53ba82;
    color: #ffffff;
}

.loading__indicator {
    width: 40;
    margin: 0 auto;
}

Label {
    color: #ffffff;
}